<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Define a fragment named 'contactTable' that accepts a 'contacts' parameter -->
<div th:fragment="contactTable(contacts)">
    <div class="overflow-x-auto rounded border border-gray-300 shadow-sm mt-4">
        <table class="min-w-full divide-y-2 divide-gray-200">
            <thead class="ltr:text-left rtl:text-right">
            <tr class="font-medium text-gray-900">
                <th class="px-3 py-2 whitespace-nowrap">ID</th>
                <th class="px-3 py-2 whitespace-nowrap">Name</th>
                <th class="px-3 py-2 whitespace-nowrap">Email</th>
                <th class="px-3 py-2 whitespace-nowrap">Phone</th>
                <th class="px-3 py-2 whitespace-nowrap">Social network</th>
                <th class="px-3 py-2 whitespace-nowrap">Action</th>
            </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
            <tr th:each="contact : ${contacts}" class="text-gray-900">
                <td class="px-3 py-2 whitespace-nowrap" th:text="${contact.id}">ID</td>
                <td class="px-3 py-2 whitespace-nowrap" th:text="${contact.name}">Name</td>
                <td class="px-3 py-2 whitespace-nowrap">
                    <div th:each="emailObject : ${contact.emails}">
                        <span th:text="${emailObject.label}"></span>
                        <a th:href="@{${'mailto:' + emailObject.email}}" th:text="${emailObject.email}"></a>
                    </div>
                </td>

                <td class="px-3 py-2 whitespace-nowrap">
                    <div th:each="phoneObject : ${contact.phones}">
                        <span th:text="${phoneObject.label}"></span>
                        <a th:href="@{${'tel:' + phoneObject.phone}}" th:text="${phoneObject.phone}"></a>
                    </div>
                </td>

                <td class="px-3 py-2 whitespace-nowrap">
                    <div th:each="networkObject : ${contact.networks}">
                        <span th:text="${networkObject.label}"></span>
                        <span th:text="${networkObject.account}"></span>
                    </div>
                </td>

                <td>
                    <button> <a th:href="@{|/contact/edit/${contact.id}}">Edit</a> </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
