<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Contact Manager</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>

<body>

<div th:replace="~{components/header-component}"></div>

<div class="">

    <div
            id="view"
            class="h-full w-screen flex flex-row"
            x-data="{ sidenav: true }"
    >
        <button
                @click="sidenav = true"
                class="p-2 border-2 bg-white rounded-md border-gray-200 shadow-lg text-gray-500 focus:bg-teal-500 focus:outline-none focus:text-white absolute top-0 left-0 sm:hidden"
        >
            <svg
                    class="w-5 h-5 fill-current"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
            >
                <path
                        fill-rule="evenodd"
                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                        clip-rule="evenodd"
                ></path>
            </svg>
        </button>

        <div th:replace="~{dashboard/sidebar :: sideBar( ${ appUser } ) }"></div>
        <div th:replace="~{components/table-component :: contactTable( ${contacts} ) }"></div>


    </div>


</div>


<div th:replace="~{components/footer-component}"></div>

</body>

</html>
