<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Contact Manager</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>

<body>

<div th:replace="~{components/header-component}"></div>

<form th:action="@{/registration}" th:object="${user}" method="post">
    <input name="userName" type="text" placeholder="Username" >
    <input name="password" type="text" placeholder="Password" >

    <input type="submit" value="Register" >
</form>



<div th:replace="~{components/footer-component}"></div>

</body>

</html>
